---
layout: layouts/home.njk
url: /404.html
---

<section class="section">
  <div class="container">
    <h1 class="title">Content not found.<h1/>
    Go <a href="{{ '/'  }}"> Home</a>
  </div>
</section>